# ---- Databricks (Free Edition) ----
DATABRICKS_HOST=https://dbc-xxxxxxxx-xxxx.cloud.databricks.com
DATABRICKS_TOKEN=dapi...
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/xxxxxxxxxxxx
DATABRICKS_CATALOG=steam_lakehouse
DATABRICKS_LANDING_SCHEMA=landing
DATABRICKS_VOLUME=raw

# ---- IGDB (Twitch Developer Console) ----
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# ---- Buenas maneras con las APIs ----
INGEST_USER_AGENT=steam-lakehouse/1.0 (portfolio; +https://github.com/TU_USUARIO/steam-lakehouse)
