# --- ingesta ---
httpx==0.28.1
tenacity==9.0.0
pyarrow==18.1.0
databricks-sdk==0.40.0

# --- transformacion ---
dbt-core==1.9.1
dbt-databricks==1.9.1

# --- calidad de codigo ---
ruff==0.8.4
sqlfluff==3.2.5
sqlfluff-templater-dbt==3.2.5
pytest==8.3.4
